***Project 2 - Part 3B: Transform & Load***
-

I) Normalizing Genres
-

In [1]:
## Standard Imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os, json
from sqlalchemy.engine import create_engine
import pymysql
pymysql.install_as_MySQLdb()
from urllib.parse import quote_plus

In [2]:
df = pd.read_csv("DATA/basics.csv")
df.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,NaN,70,Drama
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama
3,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005.0,NaN,100,"Comedy,Horror,Sci-Fi"
4,tt0096056,movie,Crime and Punishment,Crime and Punishment,0,2002.0,NaN,126,Drama

In [3]:
df['genres'].head()

0    Comedy,Fantasy,Romance
1                     Drama
2                     Drama
3      Comedy,Horror,Sci-Fi
4                     Drama
Name: genres, dtype: object

1. Getting a List of Unique Genres

In [4]:
## create a col with a list of genres
df['genres_split'] = df['genres'].str.split(',')
df.head(2)

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,genres_split
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance","[Comedy, Fantasy, Romance]"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,NaN,70,Drama,[Drama]

In [5]:
exploded_genres = df.explode('genres_split')
exploded_genres

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,genres_split
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance",Comedy
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance",Fantasy
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance",Romance
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,NaN,70,Drama,Drama
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama,Drama
...,...,...,...,...,...,...,...,...,...,...
86977,tt9916190,movie,Safeguard,Safeguard,0,2020.0,NaN,95,"Action,Adventure,Thriller",Action
86977,tt9916190,movie,Safeguard,Safeguard,0,2020.0,NaN,95,"Action,Adventure,Thriller",Adventure
86977,tt9916190,movie,Safeguard,Safeguard,0,2020.0,NaN,95,"Action,Adventure,Thriller",Thriller
86978,tt9916362,movie,Coven,Akelarre,0,2020.0,NaN,92,"Drama,History",Drama
86978,tt9916362,movie,Coven,Akelarre,0,2020.0,NaN,92,"Drama,History",History

In [6]:
unique_genres = sorted(exploded_genres['genres_split'].unique())

In [7]:
unique_genres

['Action',
 'Adult',
 'Adventure',
 'Animation',
 'Biography',
 'Comedy',
 'Crime',
 'Drama',
 'Family',
 'Fantasy',
 'Game-Show',
 'History',
 'Horror',
 'Music',
 'Musical',
 'Mystery',
 'News',
 'Reality-TV',
 'Romance',
 'Sci-Fi',
 'Sport',
 'Talk-Show',
 'Thriller',
 'War',
 'Western']

2. Create a new title_genres table

In [8]:
title_genres = exploded_genres[['tconst','genres_split']].copy()
title_genres.head()

      tconst genres_split
0  tt0035423       Comedy
0  tt0035423      Fantasy
0  tt0035423      Romance
1  tt0062336        Drama
2  tt0069049        Drama

3. Create a genre mapper dictionary to replace string genres with integers

In [9]:
## Making the genre mapper dictionary
genre_ints = range(len(unique_genres))
map = dict(zip(unique_genres, genre_ints))
map

{'Action': 0,
 'Adult': 1,
 'Adventure': 2,
 'Animation': 3,
 'Biography': 4,
 'Comedy': 5,
 'Crime': 6,
 'Drama': 7,
 'Family': 8,
 'Fantasy': 9,
 'Game-Show': 10,
 'History': 11,
 'Horror': 12,
 'Music': 13,
 'Musical': 14,
 'Mystery': 15,
 'News': 16,
 'Reality-TV': 17,
 'Romance': 18,
 'Sci-Fi': 19,
 'Sport': 20,
 'Talk-Show': 21,
 'Thriller': 22,
 'War': 23,
 'Western': 24}

In [10]:
df.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,genres_split
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance","[Comedy, Fantasy, Romance]"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,NaN,70,Drama,[Drama]
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama,[Drama]
3,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005.0,NaN,100,"Comedy,Horror,Sci-Fi","[Comedy, Horror, Sci-Fi]"
4,tt0096056,movie,Crime and Punishment,Crime and Punishment,0,2002.0,NaN,126,Drama,[Drama]

4. Replace the string genres in title_genres with the new integer ids

In [10]:
title_genres['genres_split'] = title_genres['genres_split'].replace(map)
title_genres.head()

      tconst  genres_split
0  tt0035423             5
0  tt0035423             9
0  tt0035423            18
1  tt0062336             7
2  tt0069049             7

5. Convert the genre map dictionary into a dataframe.

In [54]:
title_genres = pd.DataFrame({'tconst': map.keys(),
                             'genres_split': map.values()})

In [11]:
title_genres.head()

      tconst  genres_split
0  tt0035423             5
0  tt0035423             9
0  tt0035423            18
1  tt0062336             7
2  tt0069049             7

II) Creating MySQL tables with a primary key using Python
-

In [12]:
title_genres.dtypes

tconst          object
genres_split     int64
dtype: object

In [13]:
title_genres.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 162600 entries, 0 to 86978
Data columns (total 2 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   tconst        162600 non-null  object
 1   genres_split  162600 non-null  int64
dtypes: int64(1), object(1)
memory usage: 3.7+ MB

In [14]:
# Create the sqlalchemy engine and connection
username = "root"
password = "root" 
db_name = "movies_db"
connection = f"mysql+pymysql://{username}:{password}@localhost/{db_name}"
engine = create_engine(connection)
conn = engine.connect()

In [15]:
# Preview the names of all tables 
q = '''SHOW TABLES;'''
pd.read_sql(q, conn)

  Tables_in_movies_db
0              genres
1             ratings
2        title_basics
3        title_genres

In [16]:
q= '''SELECT * FROM title_genres'''
pd.read_sql(q, conn)

         tconst  genre_id
0         35423         5
1         35423         9
2         35423        18
3         62336         7
4         69049         7
...         ...       ...
162595  9916190         0
162596  9916190         2
162597  9916190        22
162598  9916362         7
162599  9916362        11

[162600 rows x 2 columns]

In [17]:
q= '''DESCRIBE title_genres'''
describe = pd.read_sql(q, conn)
describe

      Field Type Null Key Default Extra
0    tconst  int  YES        None
1  genre_id  int  YES        None

In [18]:
# Checking describe's Field names
describe['Field'].values

array(['tconst', 'genre_id'], dtype=object)

In [19]:
title_genres.columns

Index(['tconst', 'genres_split'], dtype='object')

In [20]:
# Rename columns to match SQL table
rename_map = {"tconst":"tconst", "genres_split":"genre_id"}
title_genres = title_genres.rename(rename_map,axis=1)
title_genres.head(2)

      tconst  genre_id
0  tt0035423         5
0  tt0035423         9

In [21]:
# Reviewing SQL table's data types
describe[['Field','Type']]

      Field Type
0    tconst  int
1  genre_id  int

In [22]:
title_genres.dtypes

tconst      object
genre_id     int64
dtype: object

In [23]:
title_genres['tconst'] = title_genres['tconst'].str.replace('tt', '')
title_genres['tconst'] = title_genres['tconst'].astype(int)
title_genres.head()

   tconst  genre_id
0   35423         5
0   35423         9
0   35423        18
1   62336         7
2   69049         7

In [24]:
q = '''DESCRIBE title_genres;'''
describe = pd.read_sql(q, engine)
describe

      Field Type Null Key Default Extra
0    tconst  int  YES        None
1  genre_id  int  YES        None

1. Creating a data type schema for to_sql:

In [25]:
from sqlalchemy.types import TEXT, VARCHAR, INT, FLOAT, CHAR, DATETIME

In [26]:
title_genres_dtypes = {'tconst': INT(),
                       'genre_id': INT()}

2. Run df.to_sql with the dtype argument.

In [27]:
title_genres.to_sql("title_genres", conn, index=False, dtype=title_genres_dtypes, if_exists='replace')

162600

3. Run the query to ADD PRIMARY KEY

In [36]:
engine.execute('ALTER TABLE movies_db.title_genres ADD PRIMARY KEY (`tconst`);')

IntegrityError: (pymysql.err.IntegrityError) (1062, "Duplicate entry '138583' for key 'title_genres.PRIMARY'")
[SQL: ALTER TABLE movies_db.title_genres ADD PRIMARY KEY (`tconst`);]
(Background on this error at: https://sqlalche.me/e/14/gkpj)

In [34]:
# Add a primary key
q = '''ALTER TABLE movies_db.title_genres ADD PRIMARY KEY (`tconst`);'''
conn.execute(q)

IntegrityError: (pymysql.err.IntegrityError) (1062, "Duplicate entry '171359' for key 'title_genres.PRIMARY'")
[SQL: ALTER TABLE movies_db.title_genres ADD PRIMARY KEY (`tconst`);]
(Background on this error at: https://sqlalche.me/e/14/gkpj)